html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body,
h2,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.nav-list {
  display: flex;
  background-color: #20232a;
}

.nav-link {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  display: block;
  padding: 10px 20px;
}

a:hover {
  color: #61dafb;
  transition: 0.3s color;
}

.nav-link-active {
  color: #61dafb;
  border-bottom: 3px solid #61dafb;
}

.post {
  display: flex;
  align-items: stretch;
  margin: 20px;
}

.post-left{
  min-width: 50px;
  padding: 5px;
  background-color: rgb(236, 236, 236);
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

.post-right {
  padding: 5px;
  flex:1;
  background-color: rgb(40, 44, 52);
  color: #ffffff;
  border-radius: 0 10px 10px 0;
}

.post-subreddit {
  color: rgb(250, 200, 99);
}

.post-title-link {
  color: #ffffff;
  font-weight: 300;
}

.post-author {
  color: rgb(197, 165, 197);
}

.post-score {
  font-weight: 600;
}